@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mint Grotesk";
  src: url(/Mint-Grotesk-Medium-V131.woff2);
}
@font-face {
  font-family: "Mint Grotesk";
  src: url(/Mint-Grotesk-Medium-Italic-V131.woff2);
  font-style: italic;
}

a {
  @apply text-magenta hover:italic;
}

.full-height-and-centered {
  @apply grid place-items-center min-h-screen;
}

/* Safari-only Query */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .full-height-and-centered {
      min-height: -webkit-fill-available;
    }

    .fill-available {
      height: -webkit-fill-available;
    }
  }
}
