@font-face {
  font-family: "lunchtype24expanded_regular";
  src: url("../fonts/lunchtype24-regular-expanded-webfont.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lunchtype24expanded_medium";
  src: url("../fonts/lunchtype24-medium-expanded-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
