@import "modern-normalize";

@font-face {
  font-family: "etc-trispace";
  font-display: swap;
  src: url("/ETCTrispaceVariable.woff2") format("woff2-variations");
}

:root {
  --white: #fffeff;
  --black: #111517;
  --blue: blue;
  --purple: purple;
  --fw-regular: "wght" 500, "wdth" 120;
  --fw-bold: "wght" 900, "wdth" 200;
  --fw-bold-hover: "wght" 500, "wdth" 200;
  --bs-style: 0 0.65rem 0.25rem -0.35rem;
}

html {
  color: var(--black);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-size: responsive 20px 32px;
  line-height: 1.5;
}

body {
  font-family: "etc-trispace", sans-serif;
  font-variation-settings: var(--fw-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1rem;
  color: var(--black);
  margin: 2rem 0 1rem;
}

strong {
  font-weight: normal;
}

ul,
ol {
  margin: 0 0 1.5rem 0;
  padding: 0;
  list-style: none;

  &:not(.notSpaced) {
    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

ol {
  counter-reset: listItem;

  & > li::before {
    counter-increment: listItem;
    content: counter(listItem) ". ";
  }
}

:any-link {
  color: var(--blue);
  font-variation-settings: var(--fw-bold);
  text-decoration: none;
  position: relative;

  box-shadow: var(--bs-style) var(--blue);

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  transition: font-variation-settings 120ms, box-shadow 120ms;

  &:hover,
  &:focus {
    color: var(--black);
    font-variation-settings: var(--fw-bold-hover);
    box-shadow: var(--bs-style) var(--black);
  }

  &.active {
    color: var(--purple);
    font-variation-settings: var(--fw-bold-hover);
    box-shadow: var(--bs-style) var(--purple);
  }
}

.wrapper {
  margin: 0.5rem;

  @media (width > 600px) {
    margin: 1rem;
  }
}
