@font-face {
  font-family: "Mint Grotesk";
  src: url("/fonts/subset-Mint-Grotesk-Medium-V131.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mint Grotesk";
  src: url("/fonts/subset-Mint-Grotesk-Medium-Italic-V131.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

a {
  @apply text-magenta hover:italic;
}

.full-height-and-centered {
  @apply grid place-items-center min-h-screen;
}
/* Safari-only Query */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .full-height-and-centered {
      min-height: -webkit-fill-available;
    }
  }
}
