@keyframes colorHover {
  0% {
    color: var(--mediumspringgreen);
  }
  20% {
    color: var(--hotpink);
  }
  40% {
    color: var(--cyan);
  }
  60% {
    color: var(--deepskyblue);
  }
  80% {
    color: var(--magenta);
  }
  100% {
    color: var(--mediumslateblue);
  }
}

:any-link {
  color: var(--black);

  text-decoration: none;
  font-family: var(--fontFamilyBold);

  &:hover,
  &:focus,
  &.active {
    animation-name: colorHover;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;

    @media (prefers-reduced-motion: reduce) {
      color: var(--magenta);
      animation: none !important;
    }
  }
}
