.stack {
  @media (width > 850px) {
    min-height: 560px;
    max-width: 760px;
    width: 100%;
    position: relative;
  }

  @media (width < 850px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.stack-item {
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  overflow: hidden;

  &:hover {
    z-index: 20 !important;

    box-shadow: 0.25rem 0.25rem 0px 0 var(--stack-color);
  }

  @media (width > 850px) {
    position: absolute;
    left: 0;
    top: 0;
  }

  @media (width < 850px) {
    margin: 0 !important;
    max-width: 160px;
    max-height: 90px;
  }
}

.stack-level--0 {
  --stack-color: var(--mediumspringgreen);
}
.stack-level--1 {
  --stack-color: var(--hotpink);
  margin-top: 40px;
  margin-left: 40px;
}
.stack-level--2 {
  --stack-color: var(--cyan);
  margin-top: calc(40px * 2);
  margin-left: calc(40px * 2);
}
.stack-level--3 {
  --stack-color: var(--deepskyblue);
  margin-top: calc(40px * 3);
  margin-left: calc(40px * 3);
}
.stack-level--4 {
  --stack-color: var(--magenta);
  margin-top: calc(40px * 4);
  margin-left: calc(40px * 4);
}
