:root {
  --white: #fffeff;
  --black: #111517;
  --blue: blue;
  --purple: purple;
  --red: red;
  --mediumspringgreen: mediumspringgreen;
  --hotpink: hotpink;
  --cyan: cyan;
  --deepskyblue: deepskyblue;
  --magenta: magenta;
  --mediumslateblue: mediumslateblue;
  --system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fontFamily: lunchtype24expanded_regular, var(--system-ui);
  --fontFamilyBold: lunchtype24expanded_medium, var(--system-ui);
  --zindex-max: 2147483647;
}
