:root {
  --white: #fffeff;
  --black: #111517;
  --blue: blue;
  --red: red;
  --fontFamily: "lunchtype24expanded_regular";
  --fontFamilyBold: "lunchtype24expanded_medium";
  --zindex-max: 2147483647;
}
