---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" path="/">
  <main>
    <div class="fixed top-5 left-5 z-50">
      <a href="/" class="inline-flex px-5 text-white bg-white/10 rounded-full">
        Back
      </a>
    </div>

    <section class="full-height-and-centered">
      <div class="flex flex-col gap-4 items-center">
        <h1>There&apos;s nothing here</h1>

        <img src="/404.gif" alt="Beyonce" />
      </div>
    </section>
  </main>
</Layout>
