---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" path="/">
  <main>
    <section class="">
      <div class="p-5 sm:p-10">
        <div class="flex flex-col gap-4 items-center">
          <h1>
            There&apos;s nothing here <a href="/">Back</a>
          </h1>
        </div>
      </div>
    </section>
  </main>
</Layout>
