---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jeff Reiner, UI Engineer" path="/">
  <main>
    <section class="full-height-and-centered">
      <div class="p-5 sm:p-10">
        <p class="uppercase">
          <a href="/info">Jeff Reiner</a>
          {" "}
          engineers high performance products and experiences.{" "}
          <a href="https://twitter.com/mirshko">@mirshko</a>{" "}
          <a href="https://github.com/mirshko">mirshko</a>{" "}
          <a href="mailto:hello@reiner.systems">hello@reiner.systems</a> Berlin
        </p>
      </div>
    </section>

    <section class="p-5 sm:p-10 flex flex-col gap-10">
      <h2 class="uppercase">Projects</h2>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2022 – 2023"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            ENDOMO for <a href="https://capsule.wtf">CAPSULE</a>
          </p>
        </header>

        <section>
          <ul>
            <li>DOM-based game renderer</li>
            <li>Game design and UI</li>
            <li>Integrated On-chain game engine</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2022 – 2023"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            <a href="https://www.pills.game">PILLS</a> for <a
              href="https://capsule.wtf">CAPSULE</a
            >
          </p>
        </header>

        <section>
          <ul>
            <li>Avatar creation engine and frontend</li>
            <li>Character asset database</li>
            <li>Backend API</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2020 – 2022"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            <a href="https://www.refugeworldwide.com">Refuge Worldwide</a>
          </p>
        </header>

        <section>
          <ul>
            <li>Website frontend</li>
            <li>CMS setup</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2021"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            <a href="https://dialectic.ch">Dialectic</a>
          </p>
        </header>

        <section>
          <ul>
            <li>Website and editorial</li>
            <li>Web3 project development</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2020 – 2021"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            <a href="https://union.finance">Union</a>
          </p>
        </header>

        <section>
          <ul>
            <li>Beta Web3 app</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2019 – 2021"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            <a href="https://async.art">Async Art</a>
          </p>
        </header>

        <section>
          <ul>
            <li>NFT marketplace</li>
            <li>Async Canvas creator</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2019 – 2020"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            <a href="https://hummingbot.org">Hummingbot</a>
          </p>
        </header>

        <section>
          <ul>
            <li>Design System</li>
            <li>Marketing Website</li>
            <li>Documentation</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2019 – 2020"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            <a href="https://www.pillar.fi">Pillar</a>
          </p>
        </header>

        <section>
          <ul>
            <li>Website</li>
            <li>Web Recovery Portal</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2019"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            <a href="https://centrifuge.io">Centrifuge</a>
          </p>
        </header>

        <section>
          <ul>
            <li>Website</li>
            <li>Design System</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2017 – 2019"}</p>
            <p class="uppercase">Completed</p>
          </div>
          <p class="uppercase">
            <a href="https://contentful.com">Contentful</a>
          </p>
        </header>

        <section>
          <ul>
            <li>Marketing website</li>
          </ul>
        </section>
      </article>

      <article>
        <header>
          <div class="flex justify-between">
            <p class="tabular-nums">{"2014 – 2017"}</p>
          </div>
          <p class="uppercase">Previous Work</p>
        </header>
      </article>
    </section>
  </main>
</Layout>
