---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jeff Reiner, Product Engineer" path="/">
  <main class="max-w-2xl">
    <section class="">
      <div class="p-5">
        <p>
          Jeff Reiner engineers high performance products and experiences.{" "}
          <a href="https://twitter.com/mirshko">@mirshko</a>{" "}
          <a href="https://github.com/mirshko">{"<>mirshko"}</a>{" "}
          <a href="mailto:email@reiner.systems">email@reiner.systems</a> Berlin
        </p>
      </div>
    </section>
  </main>
</Layout>
