---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Info" path="/info">
  <main>
    <div class="fixed top-5 left-5 z-50">
      <a href="/" class="inline-flex px-5 text-white bg-white/10 rounded-full">
        Back
      </a>
    </div>

    <section class="full-height-and-centered">
      <div class="p-5 sm:p-10">
        <p class="uppercase">Info Statement</p>

        <p>
          I approach building products by getting deep into the process with
          clients. Working as part of the team, we begin by focusing on the
          needs of the users. Through considered ideation we build prototypes
          and test to prove our thesis.
        </p>

        <p class="relative">
          Currently specializing in Web3; both NFT and DeFi products. I deliver
          fast and responsive applications built with{" "}
          <span
            class="italic"
            title="React, Next.js, Tailwind CSS, SWR, ethers, wagmi"
          >
            modern frameworks
          </span>{" "}
          and{" "}
          <span class="italic" title="Vercel, Supabase">
            serverless technologies
          </span>
          .
        </p>
      </div>
    </section>
  </main>
</Layout>
