---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Info" path="/info">
  <main>
    <div class="fixed top-5 left-5 z-50">
      <a href="/" class="inline-flex px-5 text-white bg-white/10 rounded-full">
        Back
      </a>
    </div>

    <section class="">
      <div class="p-5 sm:p-10">
        <p class="uppercase">Info Statement</p>

        <p>
          When it comes to building products, I believe in immersing myself
          alongside clients throughout the process. By working collaboratively
          as a team, our initial focus is always on understanding and addressing
          the needs of the users. Through thoughtful brainstorming and iterative
          prototyping, we continuously test our ideas to validate our
          assumptions.
        </p>

        <p>
          My current specialization lies in Web3, specifically NFT and DeFi
          products. I have a strong track record of delivering efficient and
          highly responsive applications crafted using cutting-edge frameworks
          and serverless technologies.
        </p>
      </div>
    </section>
  </main>
</Layout>
