---
import MatteComponent from "../components/Matte";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout
  path="/matte"
  title="Matte.pics"
  description="Give your photos that gallery quality aesthetic"
>
  <main class="min-h-svh flex items-center justify-center">
    <MatteComponent client:load />
  </main>
</BaseLayout>

<style>
  body {
    @apply bg-gray-200;
  }
</style>
