---
import { getCollection } from "astro:content";
import Record from "../components/Record.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/vinyl.css";

const collection = await getCollection("vinyl");

const records = collection.sort(
  // @ts-ignore
  (a, b) => new Date(b.data.date_added) - new Date(a.data.date_added)
);
---

<Layout title="Vinyl" path="/vinyl">
  <main class="p-5 sm:p-10">
    <div class="fixed top-5 left-5 z-50">
      <a href="/" class="inline-flex px-5 text-white bg-white/10 rounded-full">
        Back
      </a>
    </div>

    <section class="flex flex-wrap gap-5 justify-center">
      {records.map((record) => <Record record={record} />)}
    </section>
  </main>
</Layout>
