---
import Record from "../components/Record.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/vinyl.css";
import vinyl from "../data/vinyl.json";
import type { RecordInterface } from "../discogs";

const records = vinyl as RecordInterface[];
---

<Layout title="Vinyl" path="/vinyl">
  <main class="p-5 sm:p-10">
    <div class="fixed top-5 left-5 z-50">
      <a href="/" class="inline-flex px-5 text-white bg-white/10 rounded-full">
        Back
      </a>
    </div>

    <section class="flex flex-wrap gap-5 justify-center">
      {records.map((record) => <Record record={record} />)}
    </section>
  </main>
</Layout>
