---
import { getCollection } from "astro:content";
import Record from "../components/Record.astro";
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import "../styles/vinyl.css";

const collection = await getCollection("vinyl");

const records = collection.sort(
  // @ts-ignore
  (a, b) => new Date(b.data.date_added) - new Date(a.data.date_added)
);
---

<Layout title="Vinyl" path="/vinyl">
  <main class="p-5">
    <BackButton />

    <section class="record-list">
      {records.map((record) => <Record record={record} />)}
    </section>
  </main>
</Layout>

<style>
  .record-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    gap: 1.25rem;
    justify-content: center;
  }
</style>
