<footer class="p-5 sm:p-10">
  <ul>
    <li>
      <a href="/info">Info</a>
    </li>
    <li>
      <a href="/vinyl">Vinyl</a>
    </li>
    <li>
      <a href="https://read.cv/mirshko">CV</a>
    </li>
    <li>
      Tools
      <ul class="pl-5">
        <li>
          <a href="/matte">Matte.pics</a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
