<footer class="p-5">
  <ul>
    <li>
      <a href="/vinyl">Vinyl</a>
    </li>

    <li>
      <a href="https://read.cv/mirshko">CV ↗</a>
    </li>

    <li>
      <span class="font-bold">Tools</span>
      <ul class="pl-5">
        <li>
          <a href="/matte">Matte.pics</a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
