h1 {
  font-size: 1rem;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.25;
}

p {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  max-width: 30em;
}

p:last-child {
  margin-bottom: 0;
}
