.clock {
  position: fixed;

  z-index: var(--zindex-max);
  line-height: normal;
  white-space: nowrap;

  top: .5rem;
  right: .5rem;

  transform: rotate(90deg) translate(100%, 0);
  transform-origin: right top;

  @media (width > 600px) {
    top: 1rem;
    right: 1rem;
  }
}
