.upBox {
  all: unset;
  cursor: pointer;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  line-height: 56px;

  transition-duration: .125s;
  transition-property: transform;
  transition-timing-function: ease-in-out;


  &:hover,
  &:focus {
    transform: rotate(-16deg);
  }
}

.upWrapper {
  z-index: 123456;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;

  @media (width > 600px) {
    bottom: 2rem;
    right: 2rem;
  }
}
