@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-primary;
  }
  a:hover {
    @apply italic;
  }

  p {
    @apply max-w-prose;
  }
}

.next-image-tweaks > div {
  vertical-align: middle;
  border-radius: 0.375rem;
}
