@tailwind base;

:root {
  --primary: #5f05f0;
  --secondary: #5f0;
  --tertiary: #fe0000;
  --black: #000;
  --white: #fff;
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --primary: color(display-p3 0.3725 0.0196 0.9411);
    --secondary: color(display-p3 0.3333 1 0);
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #cfd3dc;
}

a {
  color: var(--primary);
  text-shadow: 0 0.2em var(--secondary);
}
a:hover {
  text-shadow: 0.2em 0.2em var(--secondary);
}

button {
  @apply font-semibold;
}

@tailwind components;

@tailwind utilities;

.active::after {
  color: var(--primary);
  text-shadow: 0 0.2em var(--secondary);
  font-size: inherit;
  content: "*";
}

[data-reach-disclosure-button] {
  text-align: right;
  display: block;
  margin-left: auto;
  color: var(--primary);
  text-shadow: 0 0.2em var(--secondary);
}
[data-reach-disclosure-button]:hover {
  text-shadow: 0.2em 0.2em var(--secondary);
}

[data-reach-disclosure-panel] {
  outline: none;
}
