@tailwind base;

@font-face {
  font-family: "Mint Grotesk";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/MintGroteskV0.8-Bold.woff2) format("woff2");
}

:root {
  --primary: #5f05f0;
  --secondary: #5f0;
  --tertiary: #fe0000;
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --primary: color(display-p3 0.3725 0.0196 0.9411);
    --secondary: color(display-p3 0.3333 1 0);
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-gray;
}

a {
  color: var(--primary);
}

button {
  @apply font-semibold;
}

@tailwind components;

@tailwind utilities;

.active::after {
  color: var(--primary);
  font-size: inherit;
  content: "*";
}

[data-reach-disclosure-button] {
  text-align: right;
  display: block;
  margin-left: auto;
  color: var(--primary);
}

[data-reach-disclosure-panel] {
  outline: none;
}
