html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  font-weight: 500;
  line-height: 1.21053;
  letter-spacing: 0.012em;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 48em) {
  html {
    font-size: 125%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Helvetica Neue", Arial, sans-serif;
  font-feature-settings: "kern" 1, "kern", "kern";
  font-kerning: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: inherit;
  line-height: 1.25;
}

img,
svg,
video,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

@media (hover: hover) {
  .hover-blink:hover:not(:active),
  :any-link:hover:not(:active),
  a:hover:not(:active) {
    animation: blink 2s infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
