.yt {
  background-color: transparent;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.yt::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 110px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.yt::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (1 / 1));
}
.yt > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.playbtn {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
}

.playbtn .btn {
  fill: #212121;
  fill-opacity: 0.8;
  transition: fill 0.1s cubic-bezier(0.4, 0, 1, 1),
    fill-opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.yt:hover > .playbtn .btn {
  fill: #f00;
  fill-opacity: 1;
}

.yt.activated {
  cursor: unset;
}
.yt.activated::before,
.yt.activated > .playbtn {
  opacity: 0;
  pointer-events: none;
}
